#body
{
  font-family: 'Cairo', sans-serif;
  background:#333;
 }
 li
 {
   height: auto;
   border-radius: 15px;
   margin-bottom: 15px;
   background: #1d1d27;
 }

 .img_store
 {
  border-radius:5px;
  width: 50px;
  height: 50px;
 }
 i.apps {
    width: 25px;
    height: 25px;
    background-image: url("https://mrkzgulfup.com/uploads/155196039004343.png")
}
.active i.apps {
    background-image: url("https://mrkzgulfup.com/uploads/155196039004343.png")
}
i.Alerts {
   width: 50px;
   height: 50px;
   background-image: url("https://mrkzgulfup.com/uploads/1551960739555110.png")
}
.active i.Alerts {
   background-image: url("https://mrkzgulfup.com/uploads/1551960739555110.png")
}
i.Settings {
   width: 52px;
   height: 52px;
   background-image: url("https://mrkzgulfup.com/uploads/15519607395263.png")
}
.active i.Settings {
   background-image: url("https://mrkzgulfup.com/uploads/15519607395263.png")
}
i.Moon {
    width: 25px;
    height: 25px;
    background-image: url(https://b.top4top.net/p_1140dijd41.png);
}
.active i.Moon{
    background-image: url(https://b.top4top.net/p_1140dijd41.png);
}
i.back {
    width: 30px;
    height: 30px;
    background-image: url(https://d.top4top.net/p_1147owh861.png)
}
.active i.back {
    background-image: url(https://d.top4top.net/p_1147owh861.png)
}
