

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- array of downloads. -->
	<key>items</key>
	<array>
		<dict>
			<!-- an array of assets to download -->
				<key>assets</key>
				<array>
					<dict>
						<!-- required. the asset kind. -->
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://ipa.arab-crack.com/s/sodeP43L7gjxsJz/download</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
				</array>
				<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>me.4c476.AZinstaller</string>
				<key>bundle-version</key>
				<string>5.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>

install Application 

You used MY Toles #itsFywre
twitter   : @its_Fywre
snapchat  : @its_fywre
instagram : @its_fywre

itsFywre


				</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

 
