

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- array of downloads. -->
	<key>items</key>
	<array>
		<dict>
			<!-- an array of assets to download -->
				<key>assets</key>
				<array>
					<dict>
						<!-- required. the asset kind. -->
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://shdw3.shabakaty.com/share2018/1450462530?AWSAccessKeyId=D7HC1X0SR97D62IEDHDP&Expires=1554341634&response-cache-control=public%2C%20max-age%3D2592000&response-content-disposition=attachment%3B%20filename%3D%22Electra%201.0.4.ipa%22%3B&response-content-encoding=System.Text.UTF8Encoding&response-content-type=application%2Foctet-stream&Signature=%2BkSWQDYRdbk81uZRX3CulWe5DIQ%3D</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
				</array>
				<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>me.v727z.AZinstaller</string>
				<key>bundle-version</key>
				<string>5.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>

install Application 

You used MY Toles #itsFywre
twitter   : @its_Fywre
snapchat  : @its_fywre
instagram : @its_fywre

itsFywre


				</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

 
