

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- array of downloads. -->
	<key>items</key>
	<array>
		<dict>
			<!-- an array of assets to download -->
				<key>assets</key>
				<array>
					<dict>
						<!-- required. the asset kind. -->
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://1b557c18-a-62cb3a1a-s-sites.googlegroups.com/site/downloadflappybird/flappy-bird-download-files/Flappy_Bird_Dong_Nguyen_v1.2.ipa?attachauth=ANoY7cqbTxx278nAZWUKGHr7F59I-M26mOttrUft_QQ2WpWeJ4MS4impXAJd70DPyOC65dhLlQIuBZ0yk9HLuU650A-EwkgGAklnwbeUsw6qlcA2UOIWiGItOQLPL1Mhu8KCs-vpZQsLrsa6kF6q0YvZbrjHQ-n7YpAifeAmLUj7roO5lUvzQPttq1ZLR7y48w_7XjL3DFKZx1l_cOQpYbYtP1ueFlD2ycoFlTJVohBF87AvvAF4uKAsRmjorTj7M24cVty676R8sfnEPZuZl5G7yPGXG6HP6g%3D%3D&attredirects=0</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://e.top4top.net/p_974e8d8m1.png</string>
					</dict>
				</array>
				<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>me.yn71t.AZinstaller</string>
				<key>bundle-version</key>
				<string>5.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>

install Application 

You used MY Toles #itsFywre
twitter   : @its_Fywre
snapchat  : @its_fywre
instagram : @its_fywre

itsFywre


				</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

 
